* {
  margin: 0;
  padding: 0;
}
.container {
  padding-top: 10%;
}
.form {
  margin-top: 4%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  border: 1px solid transparent;
  width: 80%;
  margin-left: 7%;
  background: rgb(236, 233, 233);
  transform: translateX(15px);
  border-radius: 20px;
  height: auto;
}
.form input {
  margin: 15px;
  border-style: none;
  background: white;
  border: 1px solid black;
  padding: 19px;
  width: 95%;
  border-radius: 20px;
  font-family: sans-serif;
  font-size: large;
}
.form input:focus {
  outline: none;
}
.form input[type="submit"] {
  background-color: rgb(237, 208, 39);
  cursor: pointer;
  width: 99%;
  transform: translateX(-1.5%);
  font-weight: bold;
  width: 100%;
}

.rights {
  margin-top: 05%;
  padding: 1%;

  color: white;
  text-align: center;
  background-color: rgb(30, 27, 27);
}

.form-control1.form-control2.form-control3 {
  height: 34%;
}
