/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* App Container */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Styles */
.app-header {
  display: flex;
  justify-content: space-between;
  background-color: #ccc9c9;
  color: #191515;
  padding: 2px;
}

.logo-title {
  margin: 9px;
  font-size: 30px;
}

.app-header-actions-buttons button {
  background-color: transparent;
  border: none;
  color: #eed8d8;
  margin-right: 10px;
}

/* Profile Image */
.profile-image {
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  border-radius: 50%;
  margin-left: 0 auto;
}

/* Body Styles */
.app-body {
  display: flex;
  flex: 1;
}

.app-body-navigation {
  flex: 10px 10px 20px;
  background-color: #f0f0f0;
  padding-left: 20px;
}

/* Navigation Styles */
.navigation a {
  display: block;
  color: #1d1010;
  text-decoration: none;
  padding: 10px 2px;
  border-color: #191515;
}
.navigation a:hover {
  background-color: #706d6d;
}
.navigation a i {
}

/* Footer Styles */
.footer {
  text-align: center;
  transform: translateY(700%);
  padding: 20px;
  color: #1a1515;
}

.footer small {
  font-size: 12px;
}

.footer div {
  margin-top: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .app-body {
    flex-direction: row;
  }

  .app-body-navigation {
    flex: 1;
    order: -1;
  }

  .app-header {
    flex-direction: column;
    padding: 10px;
  }

  .app-header-actions {
    margin-top: 10px;
  }
}
.app-header-mobile {
  margin: 30px 30px;
  width: max-content;
}
.app-header-logo img {
  border-radius: 4rem;
  width: 4rem;
}
