@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inria+Serif&display=swap");

.quote {
  background-color: #c1f0ff;
}
.quote img {
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.quote p {
  font-family: "Poppins";
  font-size: x-large;
  padding-top: 15px;
  padding-left: 90px;
  padding-right: 90px;
  text-align: center;
}
.name {
  color: rgb(207, 197, 92);
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .quote {
    width: 100dvw;
  }
}

.services {
  padding-top: 99px;
  font-family: "Poppins";
  font-size: x-large;
}

.oneul {
  padding-top: 50px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.twoul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
}

.about {
  margin-top: 45px;
  padding: 10px;
  background-color: #dcd994;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.started {
  font-family: "Poppins";
  font-weight: bold;
  padding-top: 15px;
  padding-left: 45px;
  padding-right: 90px;
  margin-left: 10%;
  text-align: left;
  background-color: white;
  width: 20vw;
  border-radius: 50px;
  margin-top: 3%;
}
.about2 {
  font-family: "Poppins";
  font-weight: bold;
  padding-top: 15px;
  padding-left: 45px;
  padding-right: 90px;
  margin-right: 10%;
  text-align: left;
  width: 20vw;
  border-radius: 50px;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.global {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  text-align: left;
  margin-right: 10%;
  width: 20vw;
  border-radius: 50px;
}

.description {
  font-family: "inria-serif", serif;
  font-size: 20px;
  text-align: center;
}
.section1 {
  width: 400px;
  background-color: white;
  border-radius: 50px;
}
.section1 img {
  display: block;
  top: 50%;
  margin-top: -10px;
  padding-bottom: 20px;
  transform: translateX(4%);
  width: 400px;
  height: 400px;
}

.section2 {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 60%;
}
.section2 div {
  margin: 40px 40px 90px 10px;
}
.opaque {
  display: flex;
  background-color: #d9d9d9;
  opacity: 0.8;
  border-radius: 50px;
  width: 200px;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", serif;
  font-size: 30px;
  font-weight: normal;
}
.opaque1 {
  display: flex;
  background-color: #d9d9d9;
  opacity: 0.8;
  border-radius: 50px;
  width: 200px;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", serif;
  font-size: 30px;
  font-weight: normal;
}
.opaque2 {
  display: flex;
  background-color: #d9d9d9;
  opacity: 0.8;
  border-radius: 50px;
  width: 200px;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", serif;
  font-size: 30px;
  font-weight: normal;
}
.opaque3 {
  display: flex;
  background-color: #d9d9d9;
  opacity: 0.8;
  border-radius: 50px;
  width: 200px;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", serif;
  font-size: 30px;
  font-weight: normal;
}
