@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  margin-top: -50px;
  font-family: "Poppins";
  font-weight: bold;
  z-index: 100;
  font-size: larger;
}

.logo {
  height: 8em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}

nav ul {
  display: flex;
  padding-right: 15px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  position: relative;
}
nav ul li a:not(.signup) {
  color: black;
}
.signup {
  border: 1px solid transparent;
  border-radius: 99px;
  background-color: rgba(208, 90, 16, 0.897);
  padding: 10px 20px;
  color: white;
  transition: 0.3 ease-in-out;
}
.signup:hover {
  background-color: rgba(244, 51, 7, 0.897);
}
nav ul li a:not(.signup)::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: black;
  transition: 0.3s ease-in-out;
}
nav ul li a:hover::before {
  width: 100%;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: black;
  border-radius: 0.2rem;
}

@media (max-width: 875px) {
  nav .menu {
    padding-right: 50px;
    display: flex;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}
.btn2 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 100px;
  right: 10px;
  transition-duration: 0.5s;
}

.btn2 .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 8px;
  width: 60px;
  top: 20px;
  background-color: black;
}

.btn2 .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 60px;
  height: 8px;
  background-color: black;
  content: "";
  top: -20px;
}

.btn2 .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 60px;
  height: 8px;
  background-color: black;
  content: "";
  top: 20px;
}

.btn2 .open .icon {
  transition-duration: 0.5s;
  background: transparent;
}

.btn2 .open .icon:before {
  transform: rotateZ(45deg) scaleX(1.25) translate(13px, 13px);
}

.btn2 .open .icon:after {
  transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
}

.btn2:hover {
  cursor: pointer;
}
.email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  margin-left: 50%;
  width: 40vw;
  transform: translateX(-50%);
  height: 60px;
  border-radius: 15px;
  font-family: "Open Sans", sans-serif;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.email input[type="submit"] {
  margin-right: 25px;
  font-size: 20px;
  border-radius: 90%;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: #ff4560;
  padding: 10px 20px;
  color: white;
  transition: 0.3 ease-in-out;
}
.email input[type="submit"]:hover {
  background-color: rgba(244, 51, 7, 0.897);
}
.email input[type="email"] {
  margin-left: 25px;
  font-size: 20px;
  color: black;
  border: none;
}

.email input[type="email"]:focus {
  outline: none;
}

.body2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5%;
}
.star1 {
  margin-top: -5%;
}

.body2 ul li {
  list-style: none;
}
.body2 ul li:not(:first-child) {
  margin-top: -43%;
}
.body2 ul li img {
  -webkit-filter: drop-shadow(0px 16px 10px rgba(31, 32, 28, 0.6));
  -moz-filter: drop-shadow(0px 16px 10px rgba(31, 32, 28, 0.403));
  -ms-filter: drop-shadow(0px 16px 10px rgba(31, 32, 28, 0.403));
  -o-filter: drop-shadow(0px 16px 10px rgba(31, 32, 28, 0.403));
  filter: drop-shadow(0px 16px 10px rgba(31, 32, 28, 0.403));
}

.hearts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hearts .heart2 {
  margin-top: 70%;
}

@media (max-width: 700px) {
  .email {
    width: fit-content;
  }
  .body2 img {
    width: fit-content;
  }
  .body2 .star1 {
    width: fit-content;
    height: fit-content;
  }
}
